<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
@*     <link rel="stylesheet" href="_content/LayoutPracticeMAUIWEB.Shared/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/LayoutPracticeMAUIWEB.Shared/app.css" />
    <link rel="stylesheet" href="LayoutPracticeMAUIWEB.Web.styles.css" />
    <link rel="icon" type="image/png" href="_content/LayoutPracticeMAUIWEB.Shared/favicon.png" /> *@

    <link rel="icon" type="image/png" href="assets/images/logo-16x16.png" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link href="assets/css/boxicons.min.css" rel="stylesheet">

    <!-- Styles -->
    <link href="_content/LayoutPracticeMAUIWEB.Shared/assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="_content/LayoutPracticeMAUIWEB.Shared/assets/css/style.css" rel="stylesheet">
    <link href="_content/LayoutPracticeMAUIWEB.Shared/assets/css/components.css" rel="stylesheet">
    <link href="_content/LayoutPracticeMAUIWEB.Shared/assets/css/media.css" rel="stylesheet">
    <link href="_content/LayoutPracticeMAUIWEB.Shared/assets/css/chat.css" rel="stylesheet">
    <link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js" type="text/javascript"></script>
    <script src="_content/LayoutPracticeMAUIWEB.Shared/assets/js/load.js" type="text/javascript"></script>

    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
