@page "/counter"


@inject AuthenticationStateProvider authState

@inject NavigationManager nav

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    protected override async Task OnInitializedAsync()
    {
        var authstate = await authState.GetAuthenticationStateAsync();

        if(authstate.User.Identity?.IsAuthenticated == false)
        {
            nav.NavigateTo("/", true);
        }
    }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
